.info{
    position: absolute;
    margin-top: 150px;
    width: 100%;
    left: 0px;
  
}

.smartphone{
 position: absolute;
 margin-top: 120px;
  margin-left: 862.01px;
}


.cuch{
  margin-top:55px;
  position: absolute;
  width: 100% ;
  height: 621px;
  left: 0px;

  z-index:0;
  
}


.name-logo{
    color:#0DC78B;
}

@media screen and (max-width: 989px) {
    .smartphone {
      display: none;
    }
  }

@media screen and (min-width: 1434px){
 
}
